---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
      <br>
      Published at <time datetime="{{ page.date | date_to_xmlschema}}" itemprop="datePublished">{{ page.date | date: "%b %d, %Y" }}</time> |
      Last Modified at <time datetime="{{ page.last_modified_at | date_to_xmlschema}}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %d, %Y" }}</time>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {%- include image.html -%}
      {{ content }}
    </section>
    <footer class="post-footer">
      <section class="share">
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on Twitter
        </a>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Recent Posts</span></h5>
        <section class="recent-posts">
          {%- for post in site.posts limit:5 -%}
            <ul>
              <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            </ul>
          {%- endfor -%}
        </section>
      </div>
      <div class="isRight">
        <h5 class="index-headline featured"><span>Links</span></h5>
        <footer class="site-footer">
          <div class="page-links">
            <ul>
              <li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
              {%- for my_page in site.pages -%}
                {%- if my_page.title
                       and my_page.title != "Cheatsheets"
                       and my_page.title != "Ruby Cheatsheets"
                       and my_page.title != "Ruby on Rails Cheatsheets"
                -%}
                <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {%- endif -%}
              {%- endfor -%}
              <li><a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe</span></a></li>
            </ul>
          </div>
          <div class="inner">
            <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{site.name}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
          </div>
        </footer>
      </div>
    </div>
  </article>
</main>
